CompileFlags:
  Add: [
    "-I_include",
    "-ffreestanding",
    "-march=armv8-a",
    "-mcpu=cortex-a53+simd",
    "-Wall",
    "-Werror",
    "-DDRIVERS",
    "-nostdlib",
    "-nostartfiles",
    "--gcc-toolchain=/opt/aarch64-none-elf/lib/gcc/aarch64-none-elf/15.2.0"
  ]

Diagnostics:
  Suppress:
    - atomic_op_needs_trivial_copy
    - atomic_op_needs_atomic_int_ptr_or_fp