---
BasedOnStyle: LLVM

UseTab: ForContinuationAndIndentation
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
ColumnLimit: 100

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakBeforeBraces: Linux
InsertBraces: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignConsecutiveMacros: AcrossComments
BitFieldColonSpacing: After
IndentCaseLabels: false
IndentGotoLabels: false
InsertNewlineAtEOF: true
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatementsExceptControlMacros

SortIncludes: Never
IncludeCategories:
        - Regex: '^".*\.h"$'
          Priority: 0
        - Regex: '^<(assert|complex|ctype|errno|fenv|float|inttypes|limits|locale|math|setjmp|signal|stdarg|stdbool|stddef|stdint|stdio|stdlib|string|tgmath|time|wchar|wctype)\.h>$'
          Priority: 1
        - Regex: ".*"
          Priority: 2

ForEachMacros:
        - "irqlocked"
        - "spinlocked"
        - "cpulocked"
        - "spinlocked_irqsave"
        - "cpulocked_irqsave"
