CompileFlags:
  Add: [
    "-I_include",
    "-ffreestanding",
    "-march=armv8-a",
    "-mcpu=cortex-a53+simd",
    "-Wall",
    "-Werror",
    "-DDRIVERS",
    "-nostdlib",
    "-nostartfiles",
  ]
