CROSS_COMPILE      = aarch64-none-elf-
CROSS_COMPILE_PATH = /usr/lib/gcc/aarch64-none-elf/15.2.1

## Rust is now just used for the uart drivers, althought it is planned
## to be used in some other higher level parts of the kernel
RS_TARGET = aarch64-unknown-none


## Build profile: (release | gdb)
## release: -O2, no debug symbols (default)
## gdb: -O0 -g3, defines -DDEBUG unless overridden with DEBUG = 0
CONFIG = release


## --- Per variable overrides ---
## These override the individual settings implied by CONFIG

## DEBUG: defines -DDEBUG (runtime checks and logs). Does not affect OPT_LEVEL nor gdb symbols
# DEBUG = 0

## OPT_LEVEL: overrides the optimization flags from CONFIG
# OPT_LEVEL = -O2

## MCPU: target CPU. Affects -mcpu= passed to gcc.
# MCPU = cortex-a53+simd

